@using BusinesLogic.ViewModel.Settings
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UserFeedBackVM
<div class="col-12 col-xl-8">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-lg">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-3">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold ms-3 mb-0">@Model.UserName</p>
                                </div>
                            </td>
                            <td class="col-auto">
                                <p class=" mb-0">@Model.Message</p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>